@import "tailwindcss";

@theme {
    --color-photon-bg: #030305;
    --color-photon-card: rgba(18, 18, 25, 0.7);
    --color-photon-cyan: #00f2ff;
    --color-photon-purple: #7d00ff;
    --color-photon-text-dim: #8e8ea0;

    --font-outfit: 'Outfit', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

@layer base {
    :root {
        background-color: var(--color-photon-bg);
        color: white;
        font-family: var(--font-outfit);
    }
}

@layer components {
    .glass {
        @apply bg-photon-card backdrop-blur-xl border border-white/10 shadow-2xl;
    }
}